table {
    width: 500px;
    height: 300px;
}
th {
    font-weight: normal;
}
td {
    text-align: center;
    font-weight: bold;
}

h2 {
	font-style: italic;
    font-size: 40px;
    font-weight: normal; 
}

h1 {
    font-size: 50px;
    text-align: center;
}
p {
    font-size: 30px;
}