h1 {
	color: rgb(160, 224, 40);
}
p {
	color: #F63E62;
}
h2 {
	color: rgb(40, 190, 224);
}
h3 {
	color: #F10026;
}
h4 {
	color: rgb(93, 23, 159);
}
h5 {
	color: #4965D6	;
}
h6 {
	color: rgb(255, 187, 0);
}
ul {
	color: #ff004c;
}
ol {
	color: rgb(255, 88, 11);
}
b {
	color: #0011f8;
}
i {
	color: #1e761d;
}
